<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
         bootstrap="public/index.php">
    <testsuites>
        <testsuite name="Base Test Suite">
            <directory>/var/www/app/test</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="test"></env>
    </php>
</phpunit>
